
@import url("./intro.css");
@import url("./portfolio.css");
@import url("./skills.css");

:root {
    --red: #fc5c65;
    --green: #20bf6b;
    --topaz: #0fb9b1;
    --blue: #4b7bec;
    --black: #1c1f33;
    --grey: #778ca3;
    --white: #d1d8e0;
    --yellow:#e3cfae;
    --yellow2:#f1c40f;
    --gray2: #eee;
	--gray3: #ededed;
    --title: "EB Garamond", serif;
    --semi-title: "Playfair Display", serif;
    --text: "Manrope", sans-serif;
    --text-size: clamp(16px, 4vw, 21px);
}

  
@font-face {
    font-family: "Deutschlander";
    src: url("../fonts/Deutschlander.woff2") format('woff2');
}

@font-face {
    font-family: "newsflash";
    src: url("../fonts/newsflash.woff2") format('woff2');
}


@font-face {
    font-family: "ebGarmond";
    src: url("../fonts/ebGarmond.woff2") format('woff2');
}


@font-face {
    font-family: "manrope";
    src: url("../fonts/manrope.woff2") format('woff2');
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background: var(--gray2);
    grid-template-columns: 0.8fr;
    overflow-x: hidden;
    gap: 20px 0;
}


.fill-grey  {
    filter: grayscale(100%);
    transition: 0.2s ease;
}

.fill-grey:hover {
    filter: none;
}

[slot] {
    display: none;
}

#modal-window {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--white);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

#modal-window #modal-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

#modal-window #modal-close {
    position: fixed;
    top: 1vw;
    right: 1vw;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.page-title {
    width: clamp(350px, 50vw, 800px);
    height: auto;
    display: block;
}

.page-title svg text {
    font-family: newsflash;
}

.page-title svg text .title {
    font-size: clamp(35px, 15vw, 60px);
}
.page-title svg text .second-title {
    font-size: clamp(26px, 10vw, 50px);
}


.divider {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    align-content: center;
    justify-items: end;
    font-size: clamp(12px, 3vw, 22px);
    font-family: manrope;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    position: relative;
    height: 40px;
    margin: 20px 0;
}

.divider:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    border: 1.5px solid var(--black);
    top: -7px;
}


.divider:after {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    border: 1.5px solid var(--black);
    bottom: -7px;
}

.divider span {
    text-align: center;
}


#contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    background: var(--white);
    padding: 10px;
    color: var(--black);
    border: dashed 0.5px var(--black);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

@media only screen and (max-width: 800px) {
    #contact {
        grid-template-columns: 1fr;
        gap: 10px;
        position:relative;
    }
}

#contact .col {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: start;
    gap: 0 10px;
    font-size: clamp(8px, 3vw, 16px);
}

#contact .col img {
    width: 25px;
    height: auto;
}

#contact .col a {
    color: var(--blue);
}