.intro {
    display: block;
    width: 100%;
}

.intro .title {
    font-size: clamp(22px, 5vw, 48px);
    font-family: ebGarmond;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.intro p {
    display: block;
    font-size: var(--text-size);
    font-family: manrope;
    line-height: 1.4;
    float: none;
}

.intro .introduction {
   
}   

.intro .self-image {
    width: clamp(150px, 20vw, 250px);
    float: left;
    padding: 0 20px 0 0;
}


.intro > img {
    filter: grayscale(100%);
    transition: 0.2s ease;
}

.intro:hover > img {
    filter: none;
}


