news-column {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2;
    width: 100%;
}

news-column .title {
    font-size: clamp(22px, 5vw, 48px);
    font-family: ebGarmond;
    font-style: italic;
    font-weight: bold;
    grid-row: 1;
    grid-column: 1/6;
    text-align: left;
}

news-column p {
    font-size: clamp(16px, 3vw, 20px);
    font-family: manrope;
    line-height: 1.4;
    grid-column: 1/7;
}

news-column .introduction {
    grid-row: 2;
    grid-column: 1/6;
}   

news-column .self-image {
    grid-row: 2/3;
    width: 100%;
    grid-column: 6/7;
}




