.page-title {
    width: clamp(400px, 50vw, 800px);
    height: auto;
    display: block;
   
}

.page-title svg text {
    font-family: newsflash;
}

.page-title svg text .title {
    font-size: clamp(35px, 15vw, 60px);
}
.page-title svg text .second-title {
    font-size: clamp(26px, 10vw, 50px);
}


.divider {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    align-content: center;
    justify-items: center;
    font-size: clamp(12px, 3vw, 22px);
    font-family: manrope;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    position: relative;
    height: 40px;
}

.divider:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    border: 1.5px solid var(--black);
    top: -7px;
}


.divider:after {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    border: 1.5px solid var(--black);
    bottom: -7px;
}

.divider span {
    text-align: center;
}
