.skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 3vw;
    margin-bottom: 30px;
}


@media only screen and (max-width: 800px) {
    .skills {
        grid-template-columns: repeat(3, auto);
    }              
}

skill-item {
    filter: grayscale(100%);
    transition: 0.2s ease;  
}


skill-item:hover {
    filter: none;
}